
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-title">LOGO<span class="logo-subtitle">SITE</span></span>
			</a>
		</div>
		<div class="menu-wrap js-popup-wrap">
			<a href="" class="btn-popup-toggle btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="menu-popup-block js-popup-block">
				<ul class="menu">
					<li><a href="" class="active">Поиск анкет</a></li>
					<li><a href="">Кто посмотрел</a></li>
					<li><a href="">Услуги</a></li>
					<li><a href="">Диалоги</a></li>
				</ul>
			</div>
		</div>
		<div class="profile-wrap js-popup-wrap">
			<a href="" class="btn-popup-toggle js-btn-popup-toggle">
				<span class="elm-photo photo-cover">
					<img src="./img/user.jpg" alt="">
				</span>
				<span class="button-title-wrap">
					<span class="button-title">Мой профиль</span>
					<span class="button-info">Александр</span>
				</span>
			</a>
			<div class="profile-popup-block js-popup-block">
				<ul class="menu">
					<li><a href="">Мой профиль</a></li>
					<li><a href="">Избранные девушки</a></li>
					<li><a href="">Симпатизировали вам</a></li>
					<li><a href="">Настройки</a></li>
					<li><a href="">Выйти</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->