
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-title">LOGO<span class="logo-subtitle">SITE</span></span>
			</a>
		</div>
		<div class="actions-wrap js-popup-wrap">
			<a href="" class="btn-popup-toggle btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="actions-popup-block js-popup-block">
				<div class="action-wrap">
					<a href="" class="btn button-border">Войти в аккаунт</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn">Создать анкету</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->